<mat-card class="signup-form col-5 mx-auto">
    <mat-card-title class="title">Sign Up</mat-card-title>
    <mat-card-content>
        <form [formGroup]="signupForm">

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstname" autocomplete="off" />
                    <mat-error *ngIf="signupForm.get('firstname').hasError('required')">
                        First name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastname" autocomplete="off" />
                    <mat-error *ngIf="signupForm.get('lastname').hasError('required')">
                        Last name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" autocomplete="off" />
                    <mat-error *ngIf="signupForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email').hasError('email')">
                        Email should be valid
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="outline" class="full-width-field">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hiddenPassword ? 'password' : 'text'" formControlName="password" autocomplete="off" />
                    <button type="button" mat-icon-button matSuffix (click)="hiddenPassword = !hiddenPassword" [attr.aria-label]="'Hide password'">
                        <mat-icon>{{hiddenPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    <mat-error *ngIf="signupForm.get('password').invalid">
                        {{ getPasswordErrorMessage() }}
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" class="full-width-field" [attr.aria-label]="'Sign Up'">Sign Up</button>
        </form>
    </mat-card-content>
</mat-card>
